.navbar {
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 100;
}
.App-Header {
    height: 100%;
    width: 100%;
}

.navfab {
    background-color: #04382b93;
    padding: 0% 2%;
    border-radius: 50px;
    z-index: 10;
    margin-right: 25px; /* <-- Ajusta este valor según lo que necesites */
}
.nav-link {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}
.nav-link:active, .nav-link:hover{
    color: #DFE1AE;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #04382B;
}
.fixed-top{
    position: fixed;
    top: 5%;
    z-index: 100;
}

/* NavFAB.css */
.navbar-logo {
  margin-left: 20px; /* Ajusta el valor según lo que necesites */
}

.navbar-Title {
    position: fixed;
    top: 0.6%;
    left: 2%; /* Móvil por defecto */
    z-index: 100;
    color: #04382B;
    text-decoration: none;
    transform: translateX(0) scale(0.5);
}

@media (max-width: 900px) {
  .navbar-logo {
    display: none !important;
  }
}


/* Laptop */
@media (min-width: 1001px) and (max-width: 1500px) {
  .navbar-Title {
    left: 9.5%;
  }
}

/* Desktop grande */
@media (min-width: 1501px) {
  .navbar-Title {
    left: 8%;
  }
}

body {
  overflow-x: hidden;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
}

