.navbar {
    width: 100%;
    height: 45vh;
    background-color: #DFE1AE;
    z-index: 0;
}
.navfab {
    background-color: #04382b93;
    padding: 0% 2%;
    border-radius: 50px;
    z-index:10;
}
.nav-link {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}
.nav-link:active, .nav-link:hover{
    color: #DFE1AE;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #04382B;
}
.fixed-top{
    top: 5%;
}

/* NavFAB.css */
.navbar-logo {
  margin-left: 20px; /* Ajusta el valor según lo que necesites */
}