.Banner-Linea{
    height: 40vh;
    background-color: #aed0e1;
    z-index: 1;
    top: -15px;
    position: relative;
    width: 100vw;
}
.row{
    text-align: center;
}
.LineaTiempo{
    background-color: #FFF4E2;
    color: #04382b;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    top: -20px;
}
.scroll-x-img {
  overflow-x: hidden;  /* <--- Cambia a hidden */
  overflow-y: hidden;
  height: 90vh;
  max-width: 160vh;
  white-space: nowrap;
  position: relative;
  margin: 0 auto;
  padding: 0 !important;
  width: max-content; /* <-- Esto hace que el contenedor se ajuste al contenido */
}

.img-LineaTiempo {
  display: block;
  height: 90vh;
}


.overlay-linea {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 2;
}

.scroll-x-img:hover + .overlay-linea,
.overlay-linea:hover {
  opacity: 1;
  pointer-events: all;
}


.scroll-x-img:fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  overflow-x: auto !important;   /* <--- Activa scroll horizontal */
  overflow-y: hidden !important;
  background: #000;
  z-index: 9999;
}

.scroll-x-img:fullscreen .img-LineaTiempo {
  height: 100vh; 
}

.scroll-x-img:fullscreen .overlay-linea {
  display: none !important;
}
