.App{
    background-color: #FFF4E2;
}
.App-header {
  position: static;
  text-align: center;
  width: 100%;
}

.Title-Proceso h1{
    color: #FFF4E2;
    background-color: #2f6581;
    padding: 0 3%;
    border-radius: 100px;
}

.Title-Proceso {
    text-align: center;
    width: 100%;
    z-index: 2;
    margin-bottom: -4rem; /* Espacio debajo del título */
}
.Etapas h2{
  color: #2f6581;
}
.Banner-Proceso {
    height: 25vh;
    z-index: 1;
    position: relative;
    width: 100vw;
}
.Proceso{
  position: relative;
    text-align: justify !important;
    background-color: #b9d3d8;
    color: #394851;
    border-radius: 40px;
    width: 80%;
    margin: 0 auto;
  margin-top: 2rem; /* Espacio arriba del contenido */
  padding: 3rem 5rem;
}
.Etapas-Content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 2rem; /* Aumenta el espacio entre columnas */
  grid-row-gap: 2rem;    /* Aumenta el espacio entre filas */
}

.Etapa1 { grid-area: 1 / 1 / 3 / 4; }
.Etapa2 { grid-area: 1 / 4 / 4 / 6; }
.Etapa3 { grid-area: 3 / 1 / 6 / 3; }
.Etapa4 { grid-area: 4 / 3 / 6 / 6; }
.Etapa5 { grid-area: 6 / 2 / 8 / 5; }
.Etapas-Content > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem;      /* Espacio horizontal para evitar las esquinas */
  margin: 0.5rem;
  background: #99b5bb;
  border-radius: 70px;
  font-size: 1.1rem;
  color: #2f6581;
  box-shadow: 10px 9px 0 0 #2f6581;
  text-align: center;
  transition: background 0.2s, box-shadow 0.2s, color 0.2s;
  height: 100%;
  overflow: hidden;          /* Esto evita que el texto se salga */
  min-width: 180px;          /* Opcional: asegura un ancho mínimo */
  word-break: break-word;    /* Rompe palabras largas si es necesario */
}

.Etapas-Content > div:hover {
  background: #2f6581;
  color: #99b5bb;
  box-shadow: 10px 9px 0 0 #99b5bb;
}
.Etapas-Content h3{
  top: 0;
  margin: 0;
}

.Proceso .Info-Text{
  color: #394851;
}
.Proceso-Content .Info-Text p{
  font-size: 1rem;
}