.Proyecto-body {
  background-color: #FFF4E2;
  padding-top: 100px;
}


.Title-Proyecto {
  text-align: center;
  color: #724c3d;
  margin-top: 0;
}

.Proyecto{
  position: relative;
    text-align: justify !important;
    background-color: #cb9b69;
    color: #FFF4E2;
    border-radius: 40px;
    width: 80%;
    margin: 0 auto;
  padding: 3rem;
}

.contenedores-bg {
  position: relative;
  z-index: 1;
  padding: 0 5%; /* Espacio alrededor del contenido */
}

.ContenedoresProyecto-bg {
  position: absolute;
  top: -50px;
  left: 40%;
  transform: translateX(-45%);
  width: 150%;
  height: 150%;
  z-index: 0;
  pointer-events: none;
}

.contenedores-bg h4,
.contenedores-bg p {
  position: relative;
  z-index: 2;
  font-size: 1.2rem; /* Tamaño base para escritorio */
  line-height: 1.3;
  color: #724c3d;
  word-break: break-word;
  z-index: 1;
}

/* Escala el texto en tablets */
@media (max-width: 900px) {
  .contenedores-bg h4,
  .contenedores-bg p {
    font-size: 1.05rem;
  }
}

/* Escala el texto en móviles */
@media (max-width: 600px) {
  .Banner-Proyecto {
    height: 60px !important;   /* Ajusta este valor según el alto de tu Title-Proyecto */
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Title-Proyecto {
    margin-top: 0 !important;
    margin-bottom: 0;
  }
  .Proyecto{
    margin-top: 0;
  }
  .contenedores-bg h4,
  .contenedores-bg p {
    font-size: 0.8rem;
  }
}